/*
###########################
### GRID FLOAT TEMPLATE ###
##########################

 #### ####
     <div class="row">
         <div class="col-1-of-2">
             Col 1 of 2
         </div>
         <div class="col-1-of-2">
             Col 1 of 2
         </div>
     </div>

 ## ## ##
     <div class="row">
         <div class="col-1-of-3">
             Col 1 of 3
         </div>
         <div class="col-1-of-3">
             Col 1 of 3
         </div>
         <div class="col-1-of-3">
             Col 1 of 3
         </div>
     </div>

 ## #####
     <div class="row">
         <div class="col-1-of-3">
             Col 1 of 3
         </div>
         <div class="col-2-of-3">
             Col 2 of 3
         </div>
     </div>

 ## ## ## ##
     <div class="row">
         <div class="col-1-of-4">
             Col 1 of 4
         </div>
         <div class="col-1-of-4">
             Col 1 of 4
         </div>
         <div class="col-1-of-4">
             Col 1 of 4
         </div>
         <div class="col-1-of-4">
             Col 1 of 4
         </div>
     </div>

 ## ## ####
     <div class="row">
         <div class="col-1-of-4">
             Col 1 of 4
         </div>
         <div class="col-1-of-4">
             Col 1 of 4
         </div>
         <div class="col-2-of-4">
             Col 2 of 4
         </div>
     </div>

 ## ######
     <div class="row">
         <div class="col-1-of-4">
             Col 1 of 4
         </div>
         <div class="col-3-of-4">
            Col 3 of 4
         </div>
     </div>
*/

.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gap-vertical;

        @include mq(large) {
            margin-bottom: $gap-vertical-small;
        }
    }

    @include mq (xlarge) {
        padding: 0 3rem;
    }

    @include mq (large) {
        max-width: 70rem;
        padding: 0 3rem;
    }

    @include mq (medium) {
        max-width: 60rem;
    }

    @include mq (small) {
        max-width: 60rem;
    }

    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gap-horizontal;

            @include mq(large) {
                margin-right: 0;
                margin-bottom: $gap-vertical-small;
            }
        }

        @include mq(large) {
            width: 100% !important;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gap-horizontal}) /2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gap-horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gap-horizontal}) / 3) + #{$gap-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gap-horizontal}) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$gap-horizontal}) / 4) + #{$gap-horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$gap-horizontal}) / 4) + 2 * #{$gap-horizontal});
    }
}